div.page {
    height: 450px;
}

div.page.page-wide {
    height: 338px;
}

div.page img {
    position: absolute;
    top:      0px;
    left:     0px;
    z-index:  5;
    border:   #eee 1px solid;
}

div.page .prevPage,
div.page .nextPage {
    width:    250px;
    height:   100%;
    position: absolute;
    z-index:  20;
    opacity:  0;
    cursor: pointer;
}

div.page .prevPage {
    top:  0px;
    left: 0px;
}

div.page .nextPage {
    top:  0px;
    left: 350px;
}
