# production用secrets
SECRET_KEY_BASE={{ lookup('env', 'SECRET_KEY_BASE') }}

# S3などへのアクセス用
AWS_REGION={{ lookup('env', 'AWS_REGION') }}

# redisの場所
REDIS_ENDPOINT={{ lookup('env', 'REDIS_ENDPOINT') }}

# GoogleAnalyticsのトラッカーID
GOOGLE_ANALITICS_TRACKER_ID={{ lookup('env', 'GOOGLE_ANALITICS_TRACKER_ID') }}
