#source /usr/local/opt/ansible2.0/hacking/env-setup

export AWS_ACCESS_KEY_ID=アクセスキー
export AWS_SECRET_ACCESS_KEY=シークレットキー
export AWS_REGION=リージョン
export DB_USERNAME=データベースユーザー名
export DB_PASSWORD=データベースパスワード
export APP_SERVER_IP=capistranoでデプロイする先のAPPサーバーIP
export SECRET_KEY_BASE=APPサーバーのRailsで利用するsecrets.ymlの設定値
export GOOGLE_ANALITICS_TRACKER_ID=GoogleAnaliticsのトラッカーID
