# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d521e09281217e0a4d56f5add7d11d171fdafae06b21152ef48b8a26889c655b0d305fb13aa462302f9cdc9afdfe2d912f80a569a99b486122fd6b3383a2e2d3

test:
  secret_key_base: 9af34c3961070f0bc93842b72f5fb25ec631cbedf3a96f4546baad8070276f200d828acc19992eb2a856e6d7918a2991a70b8ec7bc20f9e7fda687c7078fcbf0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
