div.slide_index table {
    border: 1px solid #eee;
}

div.slide_index thead, div.slide_index tbody {
    vertical-align: middle;
}

div.slide_index th, div.slide_index td {
    padding: 5px;
    border: 1px solid #eee;
}

div.slide_index img {
    box-shadow:         0px 1px 1px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    -moz-box-shadow:    0px 1px 1px 0px rgba(0,0,0,0.2);
}
